[Unit]
Description=FieldStation42 Field Player
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
WorkingDirectory=__INSTALL_DIR__
Environment="DISPLAY=:0"
ExecStartPre=/bin/sleep 5
ExecStart=__INSTALL_DIR__/env/bin/python3 field_player.py -l fieldplayer.log
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=30
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
